section
    .container.pt-0.pb-5.px-4.px-md-0
        .row.justify-content-between.align-items-center
            .col-12.col-lg-8
                h4 Timeline Publikasi
                p Database Publik Prakerja bertujuan memberikan kesempatan untuk mendokumentasikan, mempelajari, dan menganalisis program Prakerja oleh siapa saja, termasuk peneliti, mahasiswa, akademisi, serta pembuat kebijakan di bidang ketenagakerjaan, pembangunan ekonomi.
    
    .container 
        .owl-carousel.timeline-carousel.mt-3.mb-5
            .timeline-item
                .timeline-date
                    | Mei
                    br
                    | 2020
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded(data-bs-toggle="modal" data-bs-target="#TimelineDetail1")
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-TNP2K.webp", alt="")
                            p.fs-7 Analisis Hasil Survei Penerima Manfaat  Program Kartu Prakerja
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-WorldBank.webp", alt="")
                            p.fs-7 Survei Pedagang Digital Bukalapak

            .timeline-item
                .timeline-date
                    | Desember
                    br
                    | 2020
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-WorldBank.webp", alt="")
                            p.fs-7 Survei Pedagang Digital Shopee

            .timeline-item
                .timeline-date
                    | Mei
                    br
                    | 2021
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-CyrusNetwork.webp", alt="")
                            p.fs-7 Telesurvei Persepsi Penerima Program  Kartu Prakerja terhadap Penyelenggaraan Program Kartu Prakerja

            .timeline-item
                .timeline-date
                    | Juni
                    br
                    | 2021
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-ipsos.webp", alt="")
                            p.fs-7 Survei Bantuan Pemerintah selama pandemi Covid-19
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-J-PALSEA.webp", alt="")
                            p.fs-7 Evaluasi Dampak  Kartu Prakerja

            .timeline-item
                .timeline-date
                    | Juli
                    br
                    | 2021
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-CSIS.webp", alt="")
                            p.fs-7 Survei Peranan Program Kartu Prakerja di Masa Pandemi Covid-19 


            .timeline-item
                .timeline-date
                    | September
                    br
                    | 2021
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-PresisiIndonesia.webp", alt="")
                            p.fs-7 Evaluasi Dampak Program Kartu Prakerja sebagai Program Pemulihan COVID-19
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-SVARAInstitute.webp", alt="")
                            p.fs-7 The COVID-19 Pandemic, Structural Transformation, and Training Outcomes

            .timeline-item
                .timeline-date
                    | Oktober
                    br
                    | 2021
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-TNP2K.webp", alt="")
                            p.fs-7 Kartu Prakerja: Transformasi Digital dan Terobosan Inklusi Keuangan Indonesia

            .timeline-item
                .timeline-date
                    | April
                    br
                    | 2022
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-CEDS.webp", alt="")
                            p.fs-7 Evaluasi Dampak Program Kartu Prakerja dengan Metode Evaluasi Acak

            .timeline-item
                .timeline-date
                    | November
                    br
                    | 2022
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-PoltrackingIndonesia.webp", alt="")
                            p.fs-7 Laporan Survei Nasional Proyeksi Ekonomi Politik Nasional

            .timeline-item
                .timeline-date
                    | Desember
                    br
                    | 2022
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-cpig-adb.webp", alt="")
                            p.fs-7 Evaluasi Dampak CARES di Indonesia: Studi Kasus Kartu Prakerja

            .timeline-item
                .timeline-date
                    | April
                    br
                    | 2023
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-PoltrackingIndonesia.webp", alt="")
                            p.fs-7 Laporan Evaluasi Kinerja Pemerintah

            .timeline-item
                .timeline-date
                    | Juni
                    br
                    | 2023
                .timeline-inner
                    .timeline-card-wrapper
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-definit-adb.webp", alt="")
                            p.fs-7 Rapid Survey Assessment: Program Kartu Prakerja Skema Normal Tahun 2023
                        .timeline-card.d-flex.align-items-center.py-1.px-2.rounded
                            img.mb-3.me-3(src=baseURL+"img/ls-logo-SMERU.webp", alt="")
                            p.fs-7 Studi Kualitatif Manfaat Pelatihan dan Bantuan Sosial Prakerja
                    

