//- header.pdt-header
//-   .container.px-3.px-md-0
//-     .d-flex.justify-content-between.align-items-center
//-       a(href='https://www.prakerja.go.id/')
//-         img(loading='lazy' src=baseURL+'img/logo-prakerja-white.svg' alt='Logo Prakerja')
//-       .d-flex
//-         div
//-           a.is-active.d-flex.align-items-center.nav-link.me-3(href='#')
//-             | Beranda

//-           a.d-flex.align-items-center.nav-link.me-3(href='#')
//-             | Database 

//-           a.d-flex.align-items-center.nav-link.me-3(href='#')
//-             | Tanya Jawab 
          
//-           a.d-flex.align-items-center.nav-link.me-3(href='#')
//-             | Publikasi
//-         .web-lang.d-flex.align-items-center
//-           //- a.is-active.me-2(href="#") 2023 
          
//-             //- span.ms-1
//-               img(src=baseURL+'img/flag-id.webp' alt='')
//-           // <span class="separator">|</span>
//-           a.d-flex.align-items-center.ms-1(href='/en')
//-             | EN 
//-             span.ms-1
//-               img(src='img/flag-en.webp' alt='')

header.pdt-header
  .container-md.px-4.px-md-0
    .d-flex.justify-content-between.align-items-center.position-relative
      .d-flex.justify-content-between.align-items-center.col-12.col-lg-auto.pdt-custom-height
        a.main-logo(href='https://www.prakerja.go.id/')
          img(loading='lazy' src=baseURL+'img/logo-prakerja-x-febugm.png' alt='Logo Prakerja x FEB UGM')
        
      ul.d-flex.align-items-center.navbar-custom
        li.nav-item.md-show
          .menu.burger-menu(data-menu='13')
            .icon
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'index.html' class={"nav-link-active" : pageActive === ''}) Beranda
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'database/'  class={"nav-link-active" : pageActive === 'database'}) Database
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'tanyajawab/' class={"nav-link-active" : pageActive === 'tanyajawab'}) Tanya Jawab
        li.nav-item.md-hide
          a.nav-link(href=baseURL+'publikasi/' class={"nav-link-active" : pageActive === 'publikasi'}) Publikasi
        li#profile.nav-item.md-hide.supper-hidden
          .web-lang.d-flex.align-items-center

            // <span class="separator">|</span>
            a.d-flex.align-items-center.ms-1(href='/en')
              | ID 
              span.ms-1
                img(src=baseURL+'img/flag-id.webp' alt='')
          ul
            li
              a(href="/profil/index.html") Indonesia
            li
              a(href="/profil/index.html#active-course-container") 
                //- img(src='img/flag-en.webp' alt='')
                | English